/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
#contacto {
    width: 70%;
    margin: 0 auto;
}

.art {
    margin-top: 70px!important;
}

fieldset,
hr {
    border: 0;
    padding: 0
}

.app_nav ul,
.categorias ul,
.children li,
.sd-content ul {
    list-style: none
}

.hidden,
.invisible {
    visibility: hidden
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    margin: 0
}

.f:hover,
.i:hover,
.t:hover {
    border-radius: 50%;
    text-decoration: none
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.redes_sociales:visited,
footer {
    color: #fff
}

img#wpstats {
    display: none
}

.articulos {
    margin-top: 0;
    margin-left: 5%!important;
    overflow: hidden
}

.articulo {
    margin-top: 0
}

footer {
    background-color: #333;
    border-top: 2px solid #000;
    margin-top: 50px;
    padding: 25px 15px
}

.logo {
    padding: 0 20px!important
}

.logo:hover {
    opacity: .9
}

.espacio_logo {
    padding-top: 120px
}

.espacio_logo_2 {
    padding-top: 180px
}

.pie_logos {
    margin-top: 35px
}

.redes_sociales {
    font-size: 36px;
    color: #fff
}

.f:hover {
    color: #3b5998
}

.i:hover {
    color: #3f729b
}

.t:hover {
    color: #55acee
}

.w:hover {
    color: #4dc247
}

.redes_wp {
    margin-top: 25px
}

#slides {
    height: auto;
    margin-bottom: 30px
}

.widgets_laterales {
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;
    width: 25%
}

.widgets_lateral {
    color: #fff
}

.botones_facebook {
    margin: 0
}

.comentarios {
    margin-top: 10px
}

.der.single{
	margin-top: 70px;
}

.der.archive{
	
}

.lista_categorias h4{
	margin: 5px 10px;
}

.lista_catego{
	padding: 0;
    list-style: none;
    margin: 13px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
}

.lista_catego > li{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	flex-flow: column;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    margin-right: 20px;
    height: 152px;
    overflow: hidden;
}

.lista_catego li{
    height: 175px;
    overflow: hidden;
}

.lista_catego li > ul{
	display: none;
}




/*.articulos_archive{
	width: 37%;
    float: left;
}*/

@media only screen and (min-width:765px) {
    .redes_sociales {
        font-size: 42px
    }
    .widgets {
        margin-top: 60px
    }
}

@media only screen and (max-width:765px) {
    #slides,
    .widgets {
        display: none
    }
    .buscador {
        margin-top: 80px
    }

    .desktop{
        display: none;
    }
    .articulos{
        margin-left: 0!important;
    }
}

@media only screen and (max-width:1024px) {
    .der {
        display: none;
    }
    #buscador_menu,
    .widgets_laterales {
        display: none
    }
    .articulos {
        margin-left: 0!important
    }
}

.categorias ul,
.categorias ul li,
.sd-content ul li {
    display: inline-block
}

.app_menu li a {
    font-style: normal!important;
    font-weight: 400!important;
    font-size: 18px
}

.sd-content ul li {
    margin: 1%
}

.categorias ul {
    padding: 0;
    margin: 0
}

.app_nav ul>li,
.app_nav ul>li>a {
    display: block;
    position: relative
}

.espacio_articulo {
    margin-bottom: 20px
}

.app_nav ul,
.marginBottom-0 {
    margin-bottom: 0
}

.app_nav ul {
    padding-left: 0
}

.app_nav ul>li>a {
    padding: 10px 5px
}

.app_nav ul>li>a:focus,
.app_nav ul>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.app_nav_lateral ul>li {
    float: left
}

.app_nav_lateral ul>li>a {
    border-radius: 4px
}

.app_nav_lateral ul>li+li {
    margin-left: 2px
}

.app_nav_lateral ul>li.active>a,
.app_nav_lateral ul>li.active>a:focus,
.app_nav_lateral ul>li.active>a:hover {
    color: #fff;
    background-color: #337ab7
}

.app_nav_lateral_2 ul>li {
    float: none
}

.app_nav_lateral_2 ul>li+li {
    margin-top: 2px;
    margin-left: 0
}

.textwidget {
    text-align: center
}

.textwidget input {
    color: #000
}

.filtros,
.filtros a,
.filtros h2,
.textwidget a:hover,
.widgets a:hover {
    color: #fff
}


.filtros a:hover {
    color: #4aa3df
}

.children {
    padding: 0
}

.children li {
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden
}

.cat-item-20 {
    overflow: hidden;
    clear: both
}

.dropdown-submenu {
    position: relative
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #ccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px
}

.dropdown-submenu:hover>a:after {
    border-left-color: #555
}

.dropdown-submenu.pull-left {
    float: none
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?lohlpa);
    src: url(../fonts/icomoon.eot?lohlpa#iefix) format('embedded-opentype'), url(../fonts/icomoon.ttf?lohlpa) format('truetype'), url(../fonts/icomoon.woff?lohlpa) format('woff'), url(../fonts/icomoon.svg?lohlpa#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-book:before {
    content: "\e904"
}

.icon-user:before {
    content: "\e906"
}

.icon-users:before {
    content: "\e909"
}

.icon-mail:before {
    content: "\e90a"
}

.icon-mail2:before {
    content: "\e90b"
}

.icon-mail3:before {
    content: "\e90c"
}

.icon-mail4:before {
    content: "\e90d"
}

.icon-google-plus:before {
    content: "\e905"
}

.icon-google-plus2:before {
    content: "\e907"
}

.icon-google-plus3:before {
    content: "\e908"
}

.icon-facebook:before {
    content: "\e900"
}

.icon-facebook2:before {
    content: "\e901"
}

.icon-instagram:before {
    content: "\e90e"
}

.icon-whatsapp:before {
    content: "\e90f"
}

.icon-twitter:before {
    content: "\e902"
}

.icon-youtube:before {
    content: "\e903"
}

.icon-youtube2:before {
    content: "\e910"
}

.icon-dropbox:before {
    content: "\e911"
}

.icon-android:before {
    content: "\e912"
}

.icon-windows:before {
    content: "\e913"
}

.icon-windows8:before {
    content: "\e914"
}

.hidden {
    display: none!important
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}